<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tema3</title>
</head>
<body>
<form class="p-3 mx-auto form-group" action="/gmail" method="POST">
    <div class="form-group">
        {{form.name.label(class="form-control-label", for="username")}}
        {{ form.name(placeholder="Enter name" ,class="form-control", id="username") }}
    </div>
    <br>
    <!--Radio Feild -->
    <div class="form-group">
        <div class="radio">
            {{form.radio.label(class="form-control-label")}}
            {{ form.radio(class="p-2 form-control ") }}
        </div>
    </div>
    {{form.recaptcha()}}
    {{form.submit()}}
</form>
</body>
</html>